run = ["poetry", "run", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["poetry", "run", "uvicorn", "main:app", "--host", "0.0.0.0"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Start Fishing App"

[[workflows.workflow]]
name = "Start Fishing App"
author = 14372660
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "poetry run uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

[env]
PYTHONPATH = "${REPL_HOME}"

onBoot = "pip install poetry && poetry install"